@charset "UTF-8";
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font-family: Roboto;
  font-size: 16px;
  color: #333;
  background: #f5f5f5; }

* {
  box-sizing: border-box; }

::selection {
  background: #077915;
  color: #fff; }

::-moz-selection {
  background: #077915;
  color: #fff;
  text-shadow: none; }

input[type=number] {
  -moz-appearance: textfield;
  margin: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

strong {
  font-weight: 700; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

ul {
  list-style: none; }

button {
  height: 36px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background: #077915;
  border: 0;
  font-weight: 400;
  padding: 0 16px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer; }
  button:hover {
    background: #0aa91d; }
  button:focus {
    outline: none; }
  button:active {
    background: #0bc122; }

input,
select {
  font-size: inherit;
  font-family: inherit; }

form {
  margin: 0; }

header {
  background: #fff;
  padding: 30px 32px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.033);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  animation: slideUp 300ms linear; }
  header .container {
    display: flex;
    display: -webkit-flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 32px; }
  @media (max-width: 991px) {
    header {
      padding: 16px; }
      header .container {
        padding: 0; } }
  @media (max-width: 480px) {
    header {
      padding: 8px 12px; } }

@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: .5; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.brand .logo {
  width: 123px; }
  @media (max-width: 480px) {
    .brand .logo {
      width: 102px;
      margin: 2px 0; } }

.search {
  margin-left: 64px;
  flex-grow: 1;
  -webkit-flex-grow: 1; }
  @media (max-width: 767px) {
    .search {
      margin-left: 32px; } }
  @media (max-width: 480px) {
    .search {
      flex-grow: initial;
      -webkit-flex-grow: initial;
      margin-left: auto; } }

.search-form {
  display: flex;
  display: -webkit-flex; }
  @media (max-width: 480px) {
    .search-form {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 8px;
      background: #fff;
      z-index: 100; }
      .search-form.active {
        display: flex;
        display: -webkit-flex; } }
  .search-form .search-keyword {
    height: 36px;
    border: 1px solid #077915;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    width: 100%;
    max-width: 330px; }
    .search-form .search-keyword:focus {
      outline: none; }
    @media (max-width: 480px) {
      .search-form .search-keyword {
        height: 32px;
        margin: 2px 0; } }
  .search-form .search-button {
    border-radius: 0 2px 2px 0;
    background: #077915 url(https://res.cloudinary.com/sivadass/image/upload/v1494692031/icons/search.png) center no-repeat;
    width: 96px; }
    @media (max-width: 480px) {
      .search-form .search-button {
        height: 32px;
        margin: 2px 0; } }

@media (min-width: 481px) {
  .mobile-search,
  .back-button {
    display: none; } }

@media (max-width: 480px) {
  .mobile-search {
    display: block;
    height: 36px;
    width: 36px; }
  .back-button {
    display: block;
    margin-right: 8px; } }

.cart {
  display: flex;
  display: -webkit-flex;
  margin-left: 64px;
  position: relative;
  z-index: 99; }
  @media (max-width: 991px) {
    .cart {
      margin-left: 16px; } }

@media (max-width: 991px) {
  .cart-info {
    display: none; } }

.cart-info table {
  font-size: 14px;
  color: #077915;
  text-align: right; }
  .cart-info table tr {
    padding: 0;
    margin: 0; }
  .cart-info table td {
    padding: 0 4px;
    line-height: 16px; }

.cart-icon {
  margin-left: 16px;
  z-index: 99;
  position: relative; }

@media (min-width: 992px) {
  .cart-count {
    display: none; } }

@media (max-width: 991px) {
  .cart-count {
    display: block;
    position: absolute;
    background: #fc7710;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 24px;
    border-radius: 50%;
    top: -6px;
    right: -9px; } }

.cart-preview {
  display: none;
  background: #fff;
  border: 1px solid #ccc; }
  .cart-preview:before {
    content: "";
    position: absolute;
    display: block;
    top: -9px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    z-index: 1; }
  .cart-preview:after {
    content: "";
    position: absolute;
    display: block;
    top: -7px;
    right: 9px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    z-index: 1; }

.cart-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 48px;
  right: 0;
  width: 360px;
  height: 388px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media (max-width: 400px) {
    .cart-preview.active {
      top: 45px;
      width: 100%;
      min-width: 300px; }
      .cart-preview.active > div {
        width: 100% !important; }
      .cart-preview.active .cart-items {
        width: 100%; }
      .cart-preview.active .stepper-input a {
        display: none; } }

.action-block {
  background: #fff;
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%; }
  .action-block button {
    background: #fc7710;
    display: block;
    width: 100%; }
    .action-block button.disabled {
      opacity: 0.3;
      cursor: not-allowed; }

.empty-cart {
  text-align: center; }
  .empty-cart img {
    width: 100%;
    max-width: 250px;
    margin: 42px auto 16px auto; }
  .empty-cart h2 {
    color: #999;
    font-size: 18px; }

.cart-items {
  height: 320px;
  width: 360px; }

.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 8px; }
  .cart-item .product-image {
    width: 48px;
    height: 48px; }
  .cart-item .product-info {
    margin-left: 16px;
    flex-grow: 1; }
    .cart-item .product-info .product-name {
      color: #999;
      font-size: 14px; }
    .cart-item .product-info .product-price {
      color: #999;
      font-weight: 700; }
      .cart-item .product-info .product-price:before {
        content: "\20B9   "; }
  .cart-item .product-total {
    margin-left: 16px; }
    .cart-item .product-total .quantity {
      color: #999;
      font-size: 14px;
      text-align: right; }
    .cart-item .product-total .amount {
      color: #333;
      font-weight: 700;
      text-align: right; }
      .cart-item .product-total .amount:before {
        content: "\20B9   "; }
  .cart-item .product-remove {
    margin-left: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-size: 22px;
    color: #ccc;
    text-align: center; }
    .cart-item .product-remove:hover {
      color: #e23d3d; }
  .cart-item:hover {
    background: rgba(147, 220, 156, 0.15); }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0; }
  10%, 20% {
    transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1; } }

.tada {
  animation-name: tada;
  animation-duration: 300ms;
  animation-fill-mode: both; }

.products-wrapper {
  padding-top: 98px;
  animation: slideUp 300ms linear;
  animation-delay: 150ms; }
  @media (max-width: 991px) {
    .products-wrapper {
      padding-top: 68px; } }
  @media (max-width: 480px) {
    .products-wrapper {
      padding-top: 52px; } }

.products {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 16px;
  max-width: 960px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .products {
      padding: 8px; } }
  .products .product {
    min-height: 355px;
    flex-basis: calc(25% - 32px);
    -webkit-flex-basis: calc(25% - 32px); }
    @media (max-width: 768px) {
      .products .product {
        flex-basis: calc(33% - 16px);
        -webkit-flex-basis: calc(33% - 16px);
        margin: 8px; } }
    @media (max-width: 480px) {
      .products .product {
        flex-basis: calc(50% - 16px);
        -webkit-flex-basis: calc(50% - 16px);
        min-height: 313px; }
        .products .product .product-name {
          height: 20px;
          overflow: hidden; }
        .products .product .product-action {
          padding: 16px 8px; } }
    @media (max-width: 320px) {
      .products .product {
        flex-basis: 100%;
        -webkit-flex-basis: 100%; } }

.fadeIn-enter {
  opacity: 0.01; }

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fadeIn-leave {
  opacity: 1; }

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.product:nth-child(1) {
  transition-delay: 200ms; }

.product:nth-child(2) {
  transition-delay: 200ms; }

.product:nth-child(3) {
  transition-delay: 400ms; }

.product:nth-child(4) {
  transition-delay: 600ms; }

.product:nth-child(5) {
  transition-delay: 800ms; }

.product:nth-child(6) {
  transition-delay: 1000ms; }

.product:nth-child(7) {
  transition-delay: 1200ms; }

.product:nth-child(8) {
  transition-delay: 1400ms; }

.product:nth-child(9) {
  transition-delay: 1600ms; }

.product:nth-child(10) {
  transition-delay: 1800ms; }

.product:nth-child(11) {
  transition-delay: 2000ms; }

.product:nth-child(12) {
  transition-delay: 2200ms; }

.product.loading {
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: contentLoader;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 200px;
  position: relative;
  overflow: hidden; }
  .product.loading .product-image {
    height: 168px;
    width: 168px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.25); }
    @media (max-width: 768px) {
      .product.loading .product-image {
        width: auto; } }
  .product.loading .product-text,
  .product.loading .product-button {
    margin: 12px 16px;
    height: 16px;
    background: rgba(255, 255, 255, 0.25); }
  .product.loading .product-button {
    position: absolute;
    bottom: 8px;
    width: 168px;
    height: 36px; }
    @media (max-width: 768px) {
      .product.loading .product-button {
        width: auto; } }

@keyframes contentLoader {
  0% {
    background-position: -420px 0; }
  100% {
    background-position: 420px 0; } }

.no-results {
  text-align: center;
  max-width: 520px;
  margin: 0 auto; }
  .no-results img {
    width: 320px;
    margin: 16px 0 32px 0;
    opacity: 0.33; }
  .no-results h2 {
    margin-bottom: 16px;
    color: #666; }
  .no-results p {
    color: #999; }

.product {
  background: #fff;
  margin: 16px;
  width: 200px;
  border-radius: 2px; }
  .product .product-image {
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 200px; }
    .product .product-image img {
      cursor: zoom-in;
      width: 100%;
      height: auto;
      transition: transform 300ms ease-in;
      transform: scale(1); }
      @media (min-width: 991px) {
        .product .product-image img {
          min-height: 200px; } }
      .product .product-image img:hover {
        transform: scale(1.1); }
  .product .product-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px; }
  .product .product-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px; }
    .product .product-price:before {
      content: "\20B9   "; }
  .product .product-name,
  .product .product-price {
    color: #666;
    padding: 0 16px;
    text-align: center; }
  .product .product-action {
    padding: 16px; }
    .product .product-action button {
      width: 100%;
      transition: all 300ms ease-in; }
      .product .product-action button.added {
        background: #fc7710; }
  .product:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.stepper-input {
  display: flex;
  display: -webkit-flex;
  color: #666;
  max-width: 120px;
  margin: 0 auto; }
  .stepper-input .increment,
  .stepper-input .decrement {
    height: 24px;
    width: 24px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
    -moz-user-select: none;
    -webkit-user-select: none; }
    .stepper-input .increment:hover,
    .stepper-input .decrement:hover {
      color: #077915;
      border-color: #077915; }
    .stepper-input .increment:active,
    .stepper-input .decrement:active {
      color: #fff;
      border-color: #077915;
      background: #0bc122; }
  .stepper-input .quantity {
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border: 1px solid #ccc; }
    .stepper-input .quantity:focus {
      outline: none;
      border-color: #077915; }

footer {
  color: #999;
  font-size: 14px;
  text-align: center;
  padding: 32px;
  background: #dddddd; }
  footer strong {
    color: #666; }
  footer .footer-links {
    margin-bottom: 24px; }
    footer .footer-links a {
      margin: 0 8px;
      color: #666; }

.modal-wrapper {
  display: none;
  background: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  overflow-y: hidden; }
  .modal-wrapper.active {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center; }
  .modal-wrapper .modal {
    width: 100%;
    max-width: 532px;
    margin: 16px;
    background: #fff;
    position: relative;
    border-radius: 4px; }
  .modal-wrapper .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 24px;
    line-height: 36px;
    border-radius: 0 4px 0 0;
    background: transparent;
    color: #666; }
    .modal-wrapper .close:hover {
      background: #dddddd; }

.quick-view-details {
  padding: 24px;
  background: #f1f1f1;
  border-radius: 0 0 4px 4px; }
  .quick-view-details .product-price {
    font-size: 18px; }
  .quick-view-details .product-price {
    color: #077915;
    font-weight: bold;
    font-size: 24px;
    float: right; }
    .quick-view-details .product-price:before {
      content: "\20B9   "; }

.quick-view-image img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 4px 4px 0 0; }
